.navbar{
    width: 80%;
    height: 50px;
    background-color: rgba(82, 82, 82, 0.593);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100%;
    border-radius: 20px;
    border: solid rgb(233, 233, 72) 2px;
    padding: 1%;
    position: relative;
    margin-bottom: 10px;
}
nav a{
    padding: 3%;
    text-decoration: none;
    color: azure;
    text-shadow: 3px 3px 0 #000;
}
.fa{
    display: none;
    color: azure;
    text-shadow: 3px 3px 0 #000;
    cursor: pointer;
}
.ham{
    display: none;
    position: sticky;
    right: 0;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
}
.ham a{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.781);
    border: solid rgb(233, 233, 72) 1px;
    border-radius: 0;
}

@media screen and (max-width: 885px){
    .navbar{
        font-size: 85%;
    }
    .elnav{
        overflow: hidden
    }
}
@media screen and (max-width: 768px){
    .navbar{
        width: 100%;
        font-size: 75%;
    }
}
@media screen and (max-width: 480px){
    .elnav{
        display: none;
    }
    .fa{
        display: block;
    }
}